<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{{ asset('templateFront/assets/css/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ path('_espacePar',{'id':par.id}) }}" class="logo"><strong>Gestion </strong>Scolaire</a>
                <ul class="actions small" style="margin-left: 600px">
                    <li>  <a href="{{ path('_home') }}" class="button primary small">Me déconnecter</a></li>
                </ul>
                <title>Espace Parent</title>
            </header>

            <!-- Content -->
            <section>
{% block body %}
    <div class="content">
        {% for flashMessage in app.session.flashbag.get('Notice') %}
            <ul><li class="alert-success">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}

        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
    </div>

    <header class="main">
        <h3>Absences</h3>
    </header>

    <form method="post" action="{{ path('_afficheAbsPar',{'id':par.id}) }} " id="f1" name="f1">
        <label>Enfant:</label>
        <select name="enfant" id="enfant" style="width:200px">
            {% for e in enfant %}
                {% if ee == e.id %}
                    <option value="{{ e.id }}" selected>{{ e.prenom }} {{ e.nom }}</option>
                {% else %}
                    <option value="{{ e.id }}" >{{ e.prenom }} {{ e.nom }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <p>
        </p>
        <input type="submit" id="valider" name="valider" value="OK" style="width:80px;">


    </form>
    {% if abs != null %}
        <table>

            <th>Matière</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Remarque</th>

            {% for n in abs %}
                <tr>

                    <td><input type="text" disabled value="{{ n.idMat.nom }}"></td>
                    <td> <input type="text" disabled value="{{ n.date|date('d-m-Y') }}"></td>
                    <td> <input type="text" disabled value="{{ n.heure|date('H:i') }}"></td>
                    <td> <input type="text" disabled value="{{ n.remarque }}"></td>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{{ path('_espacePar',{'id':par.id}) }}">Accueil</a></li>
                    <li><a href="{{ path('_emploiPar',{'id':par.id}) }}">Consulter Emploi du temps</a></li>
                    <li><a href="{{ path('_afficheAbsPar',{'id':par.id}) }}">Consulter Absences</a></li>
                    <li><a href="{{ path('_planExamPar',{'id':par.id}) }}">Planning examen</a></li>
                    <li><a href="{{ path('_notePar',{'id':par.id}) }}">Consulter Notes</a></li>
                    {% if conv != null %}
                        <li><a href="{{ path('_notifPar',{'id':par.id}) }}">Liaison Administration<span class="badge" style="width: 30px">New</span></a></li>
                    {% else %}
                        <li><a href="{{ path('_liaisonAdmin',{'id':par.id}) }}">Liaison Administration</a></li>
                    {% endif %}


                </ul>
            </nav>

            <!-- Section -->


            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Contact</h2>
                </header>
                <ul class="contact">
                    <li class="fa-phone">{{ par.idEcole.telephone }}</li>
                    <li class="fa-home">{{ par.idEcole.adresse }}<br />
                    </li>
                    <li class="fa-mail-forward">{{ par.idEcole.email }}</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Site pour gestion des écoles primaires .</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{{ asset('templateFront/assets/js/jquery.min.js') }}"></script>
<script src={{ asset ("jquery-3.2.1.min.js") }}></script>
<script src="{{ asset("jquery-ui.min.js") }}"></script>
<script src="{{ asset('templateFront/assets/js/browser.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/util.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/main.js') }}"></script>

</body>
</html>