<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Espace Administrateur</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ asset ('templateAdmin/apple-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset ('templateAdmin/images/tn.png') }}">

    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/scss/style.css') }}">
    <link href="{{ asset ('templateAdmin/assets/css/lib/vector-map/jqvmap.min.css') }}" rel="stylesheet">

    <a class="navbar-brand hidden" href="#"><img src="{{ asset ('templateAdmin/images/logo2.png') }}" alt="Logo"></a>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body >


<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

        </div>


        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">

                    <a href="{{ path('gs_back_office_homepage',{'id':id}) }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard</a>

                </li>
                <h3 class="menu-title">Internes</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-id-badge"></i>Enseignants</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path ('_ajoutEns',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheEns',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path ('_rechercheEns',{'id':id}) }}">Rechercher</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Matières</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path ('_ajoutMatiere',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheMat',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheMatiere',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-home"></i>Classes</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('_ajoutClasse',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheClass',{'id':id})}}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheClasse',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-street-view"></i>Elèves</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('_ajoutEleve',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheElv',{'id':id})}}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheEleve',{'id':id})}}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-dropbox"></i>Absences</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('_ajoutAbs',{'id':id}) }}">Enregistrer absences</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheAbs',{'id':id})}}">Consulter absences</a></li>

                    </ul>
                </li>

                <h3 class="menu-title">Externes</h3><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-male"></i>Parents</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path ('_ajoutParent',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_affichePar',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheParent',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-address-book"></i>Convocations</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheConv',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheConv',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>



            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">

                    <div class="form-inline">

                    </div>

                    {% block head %}
                    {% endblock %}

                </div>

            </div>


            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{{ asset ('templateAdmin/images/tn.png') }}" alt="User Avatar">
                    </a>


                </div>

                <a class="nav-link" href="{{ path('_home') }}"><i class="fa fa-power -off"></i>Se déconnecter</a>


            </div>
        </div>

    </header>
{% block body %}

    <div class="breadcrumbs">
        <div class="col-sm-10">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1> Absences</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"> Absences</li>
                        <li class="active">Ajout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% for flashMessage in app.session.flashbag.get('Notice') %}
            <ul><li class="alert-success">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        <br/>
        <div class="content mt-5">
            <div class="col-lg-10">
                <div class="align-content-center">
                    <div class="card">
                        <div class="card-header">
                            <strong>Enregistrement</strong> Absences
                        </div>

    <form method="post" action="{{ path('_ajoutAbs',{'id':id}) }} " id="f1" name="f1">
        <div class="row form-group">
        <div class="col col-md-9">
            <label for="classe"  class=" form-control-label" style="width:400px">Veuillez sélectionnez une classe en premier:</label></div>

        <div class="col col-md-9">
        <select name="classe" id="classe" style="width:200px" class="form-control">
            <option value="">Classe</option>
            {% for c in cl %}
                {% if ccc == c.id %}
                    <option value="{{ c.id }}" selected>{{ c.niveau }}{{ c.nom }}</option>
                {% else %}
                    <option value="{{ c.id }}">{{ c.niveau }}{{ c.nom }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div></div>
        <p>
        </p>
        <div class="row form-group">

            <div class="col col-md-9"><label for="matiere" class=" form-control-label">Matière:</label></div>
            <div class="col-12 col-md-9">
        <select name="matiere" id="matiere" required style="width:200px" class="form-control">
            <option value="">Matière</option>
            {% if m != null %}
                <option value="{{ m.id }}" selected>{{ m.nom }}</option>
            {% endif %}
        </select>
            </div></div>
        <p>
        </p>
        <div class="row form-group">
            <div class="col col-md-6">
        <input type="submit" id="valider" name="valider" value="OK" style="width:80px;" class="btn-dark">
            </div></div>
        <input type="hidden" id="mt1" name="mt1" >
        <input type="hidden" id="cl1" name="cl1" >
    </form>

    <div>


        <form method="post" id="f2" name="f2" >

            <table class="table" id="tab" name="tab">

                <thead class="thead-dark">

                <tr>
                    <th>Elève</th>
                    <th>Absence</th>
                    <th>Remarque</th>

                </tr>
                </thead>
                <tbody>
                {% for e in elv %}
                    <tr>
                        <td width="300"> <input type="text" disabled value="{{ e.prenom }} {{ e.nom }}" class="form-control"></td>
                        <td width="250">
                            <input type="checkbox" id="abs{{ e.id }}" name="abs{{ e.id }}" value="oui" class="form-control">
                            </td>
                        <td width="250"> <input type="text"  id="rq{{ e.id }}" name="rq{{ e.id }}" class="form-control"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>

            </p>

            <div class="row form-group" style="margin-left: 50px">

            <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label">*Date:</label></div>
                <div class="col-12 col-md-9"> <input style="width:200px" type="date" id="date" name="date"  class="form-control" required></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label">*Séance de:</label></div>
                <div class="col-12 col-md-9"> <input style="width:200px" type="time" id="heure" name="heure"  class="form-control" required></div>
            </div></div>
            <p>

            </p>
            <input type="submit" value="Enregistrer" id="enreg" name="enreg" class="btn-dark">

            <input type="hidden" id="mt" name="mt" >
            <input type="hidden" id="cl" name="cl" >

        </form>

    </div>               </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src={{ asset ("jquery-3.2.1.min.js") }}></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#enreg').click(function() {
                $('#cl').val($('#classe').val());
                $('#mt').val($('#matiere').val());




            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#valider').click(function() {
                $('#cl1').val($('#classe').val());
                $('#mt1').val($('#matiere').val());



            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#classe").change(function () {

                var response = $.ajax({
                    url: '{{ path('_ajaxDoc') }}',
                    data:{ 'input': $("#classe").val() },
                    type: 'post',
                    dataType: 'json',
                    success: (function (response) {
                        if (response.length>0)
                        {   $('#matiere').empty();
                            for (key in response){
                                var tmp = response[key];

                                $("#matiere").append('<option value=" '+tmp.matId.id +' ">' + tmp.matId.nom + '</option>')
                            }}
                    }),error: (function () {

                    })
                })
            });
        })
    </script>


{% endblock %}
    <script src="{{ asset ('templateAdmin/assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset ('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/plugins.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/main.js') }}"></script>


    <script src="{{ asset ('templateAdmin/assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/dashboard.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/widgets.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/jquery.vmap.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/jquery.vmap.min.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/country/jquery.vmap.world.js') }}"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>
