<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Espace Administrateur</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ asset ('templateAdmin/apple-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset ('templateAdmin/images/tn.png') }}">

    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ asset ('templateAdmin/assets/scss/style.css') }}">
    <link href="{{ asset ('templateAdmin/assets/css/lib/vector-map/jqvmap.min.css') }}" rel="stylesheet">

    <a class="navbar-brand hidden" href="#"><img src="{{ asset ('templateAdmin/images/logo2.png') }}" alt="Logo"></a>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body >


<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

        </div>


        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">

                    <a href="{{ path('gs_back_office_homepage',{'id':id}) }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard</a>

                </li>
                <h3 class="menu-title">Internes</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-id-badge"></i>Enseignants</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path ('_ajoutEns',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheEns',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path ('_rechercheEns',{'id':id}) }}">Rechercher</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Matières</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path ('_ajoutMatiere',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheMat',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheMatiere',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-home"></i>Classes</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('_ajoutClasse',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheClass',{'id':id})}}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheClasse',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-street-view"></i>Elèves</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('_ajoutEleve',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheElv',{'id':id})}}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheEleve',{'id':id})}}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-dropbox"></i>Absences</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('_ajoutAbs',{'id':id}) }}">Enregistrer absences</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheAbs',{'id':id})}}">Consulter absences</a></li>

                    </ul>
                </li>

                <h3 class="menu-title">Externes</h3><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-male"></i>Parents</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{{ path ('_ajoutParent',{'id':id}) }}">Ajouter</a></li>
                        <li><i class="fa fa-database"></i><a href="{{ path('_affichePar',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheParent',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-address-book"></i>Convocations</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-database"></i><a href="{{ path('_afficheConv',{'id':id}) }}">Afficher tout</a></li>
                        <li><i class="fa fa-search"></i><a href="{{ path('_rechercheConv',{'id':id}) }}">Rechercher</a></li>
                    </ul>
                </li>



            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <div class="form-inline">

                    </div>

                    {% block head %}
                    {% endblock %}

                </div>

            </div>


            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{{ asset ('templateAdmin/images/tn.png') }}" alt="User Avatar">
                    </a>


                </div>

                <a class="nav-link" href="{{ path('_home') }}"><i class="fa fa-power -off"></i>Se déconnecter</a>


            </div>
        </div>

    </header>{% block body %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1> Matière</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"> Matière</li>
                        <li class="active">Ajout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
    {% for flashMessage in app.session.flashbag.get('Notice') %}
        <ul><li class="alert-success">
                {{flashMessage}}
            </li></ul>
    {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
    <br/>

    <div class="content mt-3">
        <div class="col-lg-6">
            <div class="align-content-center">
                <div class="card">
                    <div class="card-header">
                        <strong>Formulaire d'ajout</strong> Matière
                    </div>

    <div class="card-body card-block">
    {{ form_start(form) }}
<form method="post" action="{{ path ('_ajoutMatiere',{'id':id}) }}" >
    {{ form_errors(form) }}
    <div class="form-group">
        <div class="col col-md-3">   {{ form_label(form.nom,'*Nom:') }}</div>
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>

    <div class="form-group">
        <div class="col col-md-3">  {{ form_label(form.coefficient,'*Coefficient:') }}</div>
        {{ form_errors(form.coefficient) }}
        {{ form_widget(form.coefficient) }}
    </div>

    <div class="row form-group">
        <div class="col col-md-6"><label for="select" class=" form-control-label">*Classe:</label></div>
        <div class="col-12 col-md-9">
            <select name="classe" id="classe" class="form-control" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
    </div>

    <div class="card-footer">
        {{ form_rest(form) }}
        <input type="submit" value="Valider" class="btn btn-success btn-sm">

        <input type="reset" value="Réinitialiser" class="btn btn-danger btn-sm">
    </div>

</form>
        {{ form_end(form) }}

    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
</div><!-- /#right-panel -->

<!-- Right Panel -->

<script src="{{ asset ('templateAdmin/assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset ('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/plugins.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/main.js') }}"></script>


<script src="{{ asset ('templateAdmin/assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/dashboard.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/widgets.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/jquery.vmap.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/jquery.vmap.min.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ asset ('templateAdmin/assets/js/lib/vector-map/country/jquery.vmap.world.js') }}"></script>
<script>
    ( function ( $ ) {
        "use strict";

        jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } );
    } )( jQuery );
</script>

</body>
</html>
