<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{{ asset('templateFront/assets/css/main.css') }}" />
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ path('_espaceElv',{'id':elv.id}) }}" class="logo"><strong>Gestion </strong>Scolaire</a>
                <ul class="actions small" style="margin-left: 600px">
                    <li>  <a href="{{ path('_home') }}" class="button primary small">Me déconnecter</a></li>
                </ul>
                <title>Espace Elève</title>
            </header>

            <!-- Content -->
            <section>
{% block body %}


    <header class="main">
        <h3>{{ elv.prenom }} {{ elv.nom }}</h3>
    </header>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-4"><p><span class="image left"><img src="{{ asset('uploads/images/' ~ elv.photo) }}" alt="Pas de photo" /></span>

                    <u> <h4>Informations</h4></u>
                <ul class="alt">
                    <li><strong>Classe: </strong>{{ elv.classe.niveau }}{{ elv.classe.nom }}</li>
                    <li><strong>Adresse: </strong>{{ elv.adresse }}</li>
                    <li><strong>Date de naissance: </strong>{{ elv.dateNaissance|date('d-m-Y') }}</li>
                    <li><strong>N°Inscription: </strong>{{ elv.numInscription }}</li>
                    <li><strong>Login: </strong>{{ elv.login }}</li>
                    <li><strong>Mot de passe: </strong>****</li>
                    <li> <strong>Emploi: </strong><a href="{{ asset('uploads/pdf/' ~ elv.classe.fichier) }}" target="_blank">Mon emploi (PDF)</a></li>
                </ul>
                </p>
            </div></div></div>

    <ul class="actions small">
        <li>  <a href="{{ path('_profilElv',{'id':elv.id}) }}" class="button primary small">Modifier mon profil</a></li>
        <li>  <a href="{{ path('_chmodElv',{'id':elv.id}) }}" class="button primary small">Modifier mon mot de passe</a></li>

    </ul>

{% endblock %}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">


            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{{ path('_espaceElv',{'id':elv.id}) }}">Accueil</a></li>
                    <li><a href="{{ path('_afficheAbsElv',{'id':elv.id}) }}">Consulter Absences</a></li>
                    <li><a href="{{ path('_noteElv',{'id':elv.id}) }}">Consulter Notes</a></li>
                    <li><a href="{{ path('_planExamElv',{'id':elv.id}) }}">Planning examen</a></li>
                    <li>
                        <span class="opener">Documents</span>
                        <ul>
                            <li><a href="{{ path('_docElv',{'id':elv.id}) }}">Consulter documents</a></li>
                            <li><a href="{{ path('_rechDocElv',{'id':elv.id}) }}">Rechercher document</a></li>
                        </ul>
                    </li>



                </ul>
            </nav>


            <section>
                <header class="major">
                    <h2>Contact</h2>
                </header>
                <ul class="contact">
                    <li class="fa-phone">{{ elv.idEcole.telephone }}</li>
                    <li class="fa-home">{{ elv.idEcole.adresse }}<br />
                    </li>
                    <li class="fa-mail-forward">{{ elv.idEcole.email }}</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Site pour gestion des écoles primaires .</p>
            </footer>


        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{{ asset('templateFront/assets/js/jquery.min.js') }}"></script>
<script src={{ asset ("jquery-3.2.1.min.js") }}></script>
<script src="{{ asset("jquery-ui.min.js") }}"></script>
<script src="{{ asset('templateFront/assets/js/browser.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/util.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/main.js') }}"></script>

</body>
</html>