<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{{ asset('templateFront/assets/css/main.css') }}" />



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ path('_espacePar',{'id':par.id}) }}" class="logo"><strong>Gestion </strong>Scolaire</a>
                <ul class="actions small" style="margin-left: 600px">
                    <li>  <a href="{{ path('_home') }}" class="button primary small">Me déconnecter</a></li>
                </ul>

                <title>Espace Parent</title>
            </header>

            <!-- Content -->
            <section>
{% block body %}

    {% if conv != null %}
        <a href="{{ path('_notifPar',{'id':par.id}) }}">Nouvelle(s) notifications</a>
    {% else %}
        <a>Aucune nouvelle notification</a>
    {% endif %}

    <header class="main">
        <h3>{{ par.prenom }} {{ par.nom }}</h3>
    </header>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-4"><p><span class="image left"><img src="{{ asset('uploads/images/' ~ par.photo) }}" alt="Pas de photo" /></span>

                    <u> <h4>Informations</h4></u>
                <ul class="alt">
                    <li><strong>Téléphone: </strong>{{ par.telephone }}</li>
                    <li><strong>Adresse: </strong>{{ par.adresse }}</li>
                    <li><strong>Email: </strong>{{ par.email }}</li>
                    <li><strong>Date de naissance: </strong>{{ par.dateNaissance|date('d-m-Y') }}</li>
                    <li><strong>N°cin: </strong>{{ par.cin }}</li>
                    <li><strong>Login: </strong>{{ par.login }}</li>
                    <li><strong>Mot de passe: </strong>****</li>
                </ul>
                </p>
            </div></div></div>

    <ul class="actions small">
        <li>  <a href="{{ path('_profilPar',{'id':par.id}) }}" class="button primary small">Modifier mon profil</a></li>
        <li>  <a href="{{ path('_chmodPar',{'id':par.id}) }}" class="button primary small">Modifier mon mot de passe</a></li>

    </ul>


{% endblock %}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->


            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{{ path('_espacePar',{'id':par.id}) }}">Accueil</a></li>
                    <li><a href="{{ path('_emploiPar',{'id':par.id}) }}">Consulter Emploi du temps</a></li>
                    <li><a href="{{ path('_afficheAbsPar',{'id':par.id}) }}">Consulter Absences</a></li>
                    <li><a href="{{ path('_planExamPar',{'id':par.id}) }}">Planning Examen</a></li>
                    <li><a href="{{ path('_notePar',{'id':par.id}) }}">Consulter Notes</a></li>
                    {% if conv != null %}
                    <li><a href="{{ path('_notifPar',{'id':par.id}) }}">Liaison Administration<span class="badge" style="width: 30px">New</span></a></li>
                    {% else %}
                    <li><a href="{{ path('_liaisonAdmin',{'id':par.id}) }}">Liaison Administration</a></li>
{% endif %}

                </ul>
            </nav>


            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Contact</h2>
                </header>
                <ul class="contact">
                    <li class="fa-phone">{{ par.idEcole.telephone }}</li>
                    <li class="fa-home">{{ par.idEcole.adresse }}<br />
                    </li>
                    <li class="fa-mail-forward">{{ par.idEcole.email }}</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Site pour gestion des écoles primaires .</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{{ asset('templateFront/assets/js/jquery.min.js') }}"></script>
<script src={{ asset ("jquery-3.2.1.min.js") }}></script>
<script src="{{ asset("jquery-ui.min.js") }}"></script>
<script src="{{ asset('templateFront/assets/js/browser.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/util.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/main.js') }}"></script>

</body>
</html>