<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{{ asset('templateFront/assets/css/main.css') }}" />
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ path('_espaceElv',{'id':elv.id}) }}" class="logo"><strong>Gestion </strong>Scolaire</a>
                <ul class="actions small" style="margin-left: 600px">
                    <li>  <a href="{{ path('_home') }}" class="button primary small">Me déconnecter</a></li>
                </ul>
                <title>Espace Elève</title>
            </header>

            <!-- Content -->
            <section>
{% block body %}
    <div class="content">

        {% if app.session is not null and app.session.started %}
            {% for flashMessage in app.session.flashbag.get('Notice') %}
                <ul><li class="alert-success">
                        {{flashMessage}}
                    </li></ul>
            {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        {% endif %}
    </div>

    <header class="main">
        <h3>Mes documents</h3>
    </header>

    <form method="post" action="{{ path('_rechDocElv',{'id':elv.id}) }}">

        <input type="text" id="nom" name="nom" placeholder="Nom" value="{{ n }}" style="width:200px">

        <select name="matiere" id="matiere" style="width:200px">
            <option value="">Matière</option>
            {% for m in mat %}
                {% if m.matId.id == matId %}
                <option value="{{ m.matId.id }}" selected>{{ m.matId.nom }}</option>
            {% else %}
                <option value="{{ m.matId.id }}" >{{ m.matId.nom }}</option>
            {% endif %}
            {% endfor %}
        </select>

        {% if t == 'COURS' %}
            <input type="radio" name="type" id="t" value="COURS" checked>
            <label for="t">Cours</label>
            <input type="radio" name="type" id="tt" value="EXERCICE" >
            <label for="tt">Exercice</label>
            <input type="radio" name="type" id="ttt" value="TOUT" >
            <label for="ttt">Tout</label>
        {% elseif t == 'EXERCICE' %}
            <input type="radio" name="type" id="t" value="COURS" >
            <label for="t">Cours</label>
            <input type="radio" name="type" id="tt" value="EXERCICE" checked>
            <label for="tt">Exercice</label>
            <input type="radio" name="type" id="ttt" value="TOUT" >
            <label for="ttt">Tout</label>
        {% elseif t == 'TOUT' %}
            <input type="radio" name="type" id="t" value="COURS" >
            <label for="t">Cours</label>
            <input type="radio" name="type" id="tt" value="EXERCICE" >
            <label for="tt">Exercice</label>
            <input type="radio" name="type" id="ttt" value="TOUT" checked >
            <label for="ttt">Tout</label>
        {% else %}
            <input type="radio" name="type" id="t" value="COURS" >
            <label for="t">Cours</label>
            <input type="radio" name="type" id="tt" value="EXERCICE" >
            <label for="tt">Exercice</label>
            <input type="radio" name="type" id="ttt" value="TOUT" >
            <label for="ttt">Tout</label>
        {% endif %}
<p>
</p>
        <input type="submit" value="Valider" id="valider" name="valider">
    </form>


    <div>
        <table>
            <thead>
            <tr>
                <th>Matiére</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Date</th>
                <th>Détails</th>

            </tr>
            </thead>
            <tbody>
            {% for d in doc %}
                <tr>

                    <td>{{ d.idMat.nom }}</td>
                    <td>{{ d.nom }}</td>
                    <td>{{ d.type }}</td>
                    <td>{{ d.date|date('d-m-Y') }}</td>
                    <td><a href="{{ path('_detDoc',{'id':d.id,'idE':elv.id}) }}">Ici</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src={{ asset ("jquery-3.2.1.min.js") }}></script>
    <script src="{{ asset("jquery-ui.min.js") }}"></script>

    <script type="text/javascript">


        $(function () {
            $('#nom').autocomplete({
                source:function (request,response) {
                    $.ajax({
                        url: '{{ path('_nomDoc') }}',
                        type: 'post',
                        dataType: 'json',
                        data: { 'search' : request.term },
                        success: function(data){
                            response(data);
                        }
                    });
                },
                select: function (event,ui) {
                    $('#nom').val(ui.item.label);
                    return false;
                }
            })
        })


    </script>
{% endblock %}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">


            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{{ path('_espaceElv',{'id':elv.id}) }}">Accueil</a></li>
                    <li><a href="{{ path('_afficheAbsElv',{'id':elv.id}) }}">Consulter Absences</a></li>
                    <li><a href="{{ path('_noteElv',{'id':elv.id}) }}">Consulter Notes</a></li>
                    <li><a href="{{ path('_planExamElv',{'id':elv.id}) }}">Planning examen</a></li>
                    <li>
                        <span class="opener">Documents</span>
                        <ul>
                            <li><a href="{{ path('_docElv',{'id':elv.id}) }}">Consulter documents</a></li>
                            <li><a href="{{ path('_rechDocElv',{'id':elv.id}) }}">Rechercher document</a></li>
                        </ul>
                    </li>



                </ul>
            </nav>


            <section>
                <header class="major">
                    <h2>Contact</h2>
                </header>
                <ul class="contact">
                    <li class="fa-phone">{{ elv.idEcole.telephone }}</li>
                    <li class="fa-home">{{ elv.idEcole.adresse }}<br />
                    </li>
                    <li class="fa-mail-forward">{{ elv.idEcole.email }}</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Site pour gestion des écoles primaires .</p>
            </footer>


        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{{ asset('templateFront/assets/js/jquery.min.js') }}"></script>
<script src={{ asset ("jquery-3.2.1.min.js") }}></script>
<script src="{{ asset("jquery-ui.min.js") }}"></script>
<script src="{{ asset('templateFront/assets/js/browser.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/util.js') }}"></script>
<script src="{{ asset('templateFront/assets/js/main.js') }}"></script>

</body>
</html>